<footer class="pt10 pb10">
    <div class="container--md pb5">
        <h3 class="all-caps bold mb2">ABOUT ME</h3>

        <div class="grid-row grid-row--bottom">
            <div class="grid-column">
                <p class="mb1">I started designing and building websites as a side project and to build additional skills and feel in love with it.</p>
                <p class="mb1">I'm most interested in ... I also enjoy teaching and writing about design. I do that mostly through <a class="link--dark" target="_blank" href="https://uxtools.co/">UX Tools</a> these days, where we just launched some <a class="link--dark" href="https://uxtools.co/challenges/" target="_blank">UX Challenges</a>.</p>
                <p class="mb1">When I'm not desiging, you can find me hanging out with my wife and four kids, reading, and mountain&nbsp;biking.</p>
                <p><a href="" class="link">Resume</a></p>
                <div class="mt8">
                    <a href="mailto:desk@jrdnbwmn.com" class="btn btn--dark mr3">desk@jrdnbwmn.com</a>
                    <span class="inline-block sm:block sm:align--center">text <a class="link link--text-dark" href="tel:8643295207">(864) 329-5207</a></span>
                </div>
                
            </div>
            <div class="grid-column span-6 align--right sm:align--center">
                <div class="pb2">
                    <a href="https://twitter.com/jrdnbwmn" target="_blank" class="link mr3"><img class="social-icon" src="/img/twitter-dark.svg" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/jrdnbwmn/" target="_blank" class="link"><img class="social-icon" src="/img/linkedin-dark.svg" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
        
    </div>
</footer>