// Article-specific styles
// -------------------------------------------------------------------
.title-block {
    .tags {
        font-size: 120%;
        line-height: 1.4;
        color: $gray-4; 
    }
}

.article-intro {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-top: $space-4;
    margin-bottom: $space-8;
}

.article {
    max-width: $article-container-width;
    margin-left: auto;
    margin-right: auto;

    h1,
    h2,
    h3,
    p,
    ul,
    ol,
    .meta-block {
        max-width: $article-content-width;
    }

    h1 {
        margin: 0 auto $space-2 auto;
    }

    h2 {
        margin: $space-7 auto $space-2 auto;
    }

    h3 {
        margin: $space-6 auto $space-2 auto;
        font-family: $bold;
    }

    // p:first-child:first-letter {
    //     color: $primary-color;
    //     float: left;
    //     font-size: 3.1rem;
    //     line-height: 3.1rem;
    //     padding-right: 8px;
    //     padding-left: 3px;
    // }

    p,
    ul,
    ol,
    .meta-block {
        margin: 0 auto $line-height--base auto;
    }

    // Arrow list
    ul li {
        padding-left: $list-padding;
        list-style-type: none;
        position: relative;
        margin-bottom: $space-4;
    }
    ul li::before {
        background: url("../img/arrow-right.svg") no-repeat;
        background-size: auto;
        background-size: contain;
        content: '';
        display: block;
        height: 15px;
        width: 15px;
        position: absolute;
        left: 0;
        top: 5px;
        @media screen and (max-width: $breakpoint--sm) {
            height: 15px;
            width: 15px;
            top: 5px;
        }
    }

    blockquote {
        max-width: $article-aside-width;
        margin: 0 auto $line-height--base auto;

        p {
            width: 100%;
            max-width: 100%;
            margin: 0;
            padding-left: 0;
        }
    }

    // Table of contents
    #markdown-toc {
        max-width: $article-aside-width;
        margin: 0 auto $line-height--base auto;
        border-radius: $border-radius;
        border: $border-width $border-style $border-color;
        padding-top: $space-4;
        padding-bottom: $space-4;
        padding-left: 2rem;
        padding-right: 2rem;
        li {
            padding-right: $space-5;
            padding-left: $space-1;
        }
        ol {
            padding-left: 1.1rem;
            list-style-type: lower-alpha;
            margin-bottom: 0;
            padding-right: 0;

            li {
                padding-right: 0;
            }
        }
    }

    // Lower alpha ol
    .lower-alpha-list {
        padding-left: $list-padding;
        list-style: none;
        position: relative;
        li {
            counter-increment: my-awesome-counter;
        }
        li::before {
            content: counter(my-awesome-counter, lower-alpha) ". ";
            font-family: $font-family--base;
            position: absolute;
            left: 0;
        }
    }

    // Figures
    figure {
        max-width: $article-aside-width;
        margin: 0 auto $line-height--base auto;
        margin-bottom: $space-4;

        img {
            padding-top: $space-1;
            padding-bottom: $space-1;
        }
    }
    figcaption {
        margin-top: -$half-baseline;
        color: $gray-5;
        font-size: $font-size--sm;
        font-family: $font-family--ui;
    }
    figure.cover {
        max-width: 100%;
        margin: 0 0 $line-height--base 0;
    }
    figure.supplementary {
        max-width: $article-content-width;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -2.4rem;
    }

    // Mobile
    @media screen and (max-width: $breakpoint--sm) {
        display: block;
        margin-bottom: $space-1;

        h1,
        h2,
        h3,
        p,
        blockquote,
        figure,
        figcaption,
        .aside-container,
        .meta-block {
            padding-left: $space-4;
            padding-right: $space-4;
        }

        aside p {
            padding-left: 0;
            padding-right: 0;
        }

        #markdown-toc {
            margin-left: $space-4;
            margin-right: $space-4;
            padding-left: 2rem;
            padding-right: 2rem;

            li {
                padding-right: 0;
            }
        }

        ul,
        ol {
            padding-left: $space-4;
            padding-right: $space-4;
        }

        blockquote p {
            padding-left: 0;
            padding-right: 0;
        }

        .tweet-embed {
            padding-left: $space-4;
            padding-right: $space-4;
        }
    }
}

// Asides
aside {
    max-width: $article-aside-width;
    margin: 0 auto $line-height--base auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    position: relative;
}
.aside_title {
    margin-bottom: $space-2;
}
.aside_icon {
    width: 42px;
    height: 42px;
    position: absolute;
    top: -21px;
    left: -21px;
    padding: 3px;
    background: $white;
    border-radius: 50%;
}
.info {
    background: $light-yellow;
    border-left: 2.5px solid $yellow;
}
.tip {
    background: $light-turquoise;
    border-left: 2.5px solid $turquoise;
}
