// Header
// -------------------------------------------------------------------
.header {
    padding: $space-4 0 $space-7 0;

    @media screen and (max-width: $header-breakpoint) {
        padding: $space-5 0;
        border-bottom: $border-width $border-style $border-color;
    }
}

.header-grid-row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    // For gutters
    margin: 0 (-$column-padding);

    @media screen and (max-width: $header-breakpoint) {
        margin: 0 auto;
    }
}

.header-grid-column {
    flex: 1 0 0%;
    padding: 0 $column-padding;

    @media screen and (max-width: $header-breakpoint) {
        text-align: center;
        flex-grow: 1;
        flex-basis: 100% !important;
        max-width: 100% !important;
        padding: 0;
        margin-left: 0;
    }
}

.main-nav {
    @media screen and (max-width: $header-breakpoint) {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 (-$column-padding);
    }
}

.main-nav__link {
    @media screen and (max-width: $header-breakpoint) {
        margin: 0;
        flex: 1 0 0%;
        padding: 0 $column-padding;
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%;
    }
}

.main-nav__link a {
    @media screen and (max-width: $header-breakpoint) {
        display: block;
        padding: $space-1 0;
    }
}

// Specific elements
.nav__logo {
    height: 60px;
    width: 60px;

    @media screen and (max-width: $header-breakpoint) {
        margin-bottom: $space-3;
    }
}

.header-desktop-newsletter-link {
    display: inline-block;

    @media screen and (max-width: $header-breakpoint) {
        display: none !important;
    }
}

.header-mobile-newsletter-link {
    display: none;
    text-decoration: underline !important;

    @media screen and (max-width: $header-breakpoint) {
        display: inline-block;
    }
}
