---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 18px;

	@media screen and (min-width: 1300px) {
		font-size: 23px;
	}
}

.link-underline {
	background-image: linear-gradient(currentColor, currentColor);
	background-repeat: no-repeat;
	transition: background-size .3s;
	background-position: 100% 100%;
	background-size: 0 2px;
}

.link-underline:hover {
	background-position: 0 100%;
	background-size: 100% 2px;
}

.mobile-toolbar,
.mobile-nav {
	display: block;
}

@media screen and (min-width: 875px) {

	.mobile-toolbar,
	.mobile-nav {
		display: none;
	}
}

.mobile-nav-menu {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	display: none;
}

.mobile-nav-menu-visible {
	opacity: 1;
	display: block;
}

.mobile-nav-toggle {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 22px;
	height: 14px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	cursor: pointer;
}

.mobile-nav-toggle span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #1F2937;
	border-radius: 1px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.mobile-nav-toggle span:nth-child(1) {
	top: 0px;
}

.mobile-nav-toggle span:nth-child(2),
.mobile-nav-toggle span:nth-child(3) {
	top: 6px;
}

.mobile-nav-toggle span:nth-child(4) {
	top: 12px;
}

.mobile-nav-toggle-open span {
	background-color: #fff;
}

.mobile-nav-toggle-open span:nth-child(1) {
	top: 6px;
	width: 0%;
	left: 50%;
}

.mobile-nav-toggle-open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mobile-nav-toggle-open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.mobile-nav-toggle-open span:nth-child(4) {
	top: 6px;
	width: 0%;
	left: 50%;
}

@font-face {
  font-family: 'Excon-Variable';
  src: url('/fonts/Excon-Variable.woff2') format('woff2'),
	   url('/fonts/Excon-Variable.woff') format('woff'),
	   url('/fonts/Excon-Variable.ttf') format('truetype');
	   font-weight: 100 900;
	   font-display: swap;
	   font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
	   url('/fonts/Satoshi-Variable.woff') format('woff'),
	   url('/fonts/Satoshi-Variable.ttf') format('truetype');
	   font-weight: 300 900;
	   font-display: swap;
	   font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('/fonts/GeneralSans-Variable.woff2') format('woff2'),
	   url('/fonts/GeneralSans-Variable.woff') format('woff'),
	   url('/fonts/GeneralSans-Variable.ttf') format('truetype');
	   font-weight: 200 700;
	   font-display: swap;
	   font-style: normal;
}

@font-face {
  font-family: 'Switzer-Variable';
  src: url('/fonts/Switzer-Variable.woff2') format('woff2'),
	   url('/fonts/Switzer-Variable.woff') format('woff'),
	   url('/fonts/Switzer-Variable.ttf') format('truetype');
	   font-weight: 100 900;
	   font-display: swap;
	   font-style: normal;
}