---
layout: default
---

<!-- Header -->
<header class="pt10 pb5">
    <div class="container--lg">
        <nav>
            <div class="clearfix">
                <div class="float--left">
                    <a class="link" href="/"><img class="logo" src="/img/jordan-bowman-circle.png" alt="Jordan Bowman"></a>
                </div>
                <div class="float--right pt2">
                    <a href="https://twitter.com/jrdnbwmn" target="_blank" class="link mr3"><img class="social-icon" src="/img/twitter.svg" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/jrdnbwmn/" target="_blank" class="link"><img class="social-icon" src="/img/linkedin.svg" alt="LinkedIn"></a>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- Intro -->
<section class="pt10 pb10">
    <div class="container--lg">
        <div class="grid-row">
            <div class="grid-column span-7">
                <h1 class="mb5">Hi, I'm Jordan.</h1>
            </div>
            <div class="grid-column span-1"></div>
            <div class="grid-column">
                <p class="h2 mb3 heading-text-lh">A Senior UX Designer and Researcher with 8+ years constructing digital&nbsp;experiences.</p>
                <p class="h2 heading-text-lh">I'm passionate about user-first, evidence-based&nbsp;design.</p>
                <div class="mt8">
                    <a href="mailto:desk@jrdnbwmn.com" class="btn btn--default mr5">desk@jrdnbwmn.com</a>
                    <span class="mr5 sm:block sm:align--center sm:mt3 sm:mr0"><a class="link link--text" href="tel:8643295207">(864) 329-5207</a></span>
                    <span class="sm:block sm:align--center sm:mt2"><a class="link link--text" href="https://drive.google.com/file/d/1gZYD9zrhy4ocupxS_yOYZTCQA7FU_x1A/view?usp=sharing" target="_blank">Résumé</a></span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Work -->
<section class="pt10 pb10">
    <div class="container--lg">
        <div class="grid-row">
            <div class="grid-column span-7">
                <h2 class="mb2">Work</h2>
                <p class="mb3">Check out some of the projects I've worked on during the last few years.</p>
            </div>
            <div class="grid-column span-1"></div>
            <div class="grid-column">
                <div class="grid-row">
                    <div class="grid-column sm:mt3">
                        <a class="block link link--text border--full rounded p3" href="/internal-research-app/">
                            <div class="mb3">
                                <img src="/img/case-studies/research-app-white.svg" alt="Internal Research App" style="height: 130px">
                            </div>
                            <div class="">
                                <h4 class="mb2">Internal Research App&nbsp;→</h4>
                                <p>I designed a task-efficient app used by internal researchers at Catylist. The process included usability tests, user interviews, and field&nbsp;studies.</p>
                            </div>
                        </a>
                    </div>
                    <div class="grid-column sm:mt3">
                        <a class="block link link--text border--full rounded p3" href="/catylist-design-system/">
                            <div class="mb3">
                                <img src="/img/case-studies/design-system.svg" alt="Internal Research App" style="height: 130px">
                            </div>
                            <div class="">
                                <h4 class="mb2">Catylist Design System&nbsp;→</h4>
                                <p>I built Catylist's design system from scratch, which was used across multiple apps and websites. This included coding all the HTML and&nbsp;CSS.</p>
                            </div>
                        </a>
                    </div>
                    <div class="grid-column sm:mt3">
                        <a class="block link link--text border--full rounded p3" href="/property-edit-form/">
                            <div class="mb3">
                                <img src="/img/case-studies/property-form.svg" alt="Internal Research App" style="height: 130px">
                            </div>
                            <div class="">
                                <h4 class="mb2">Property Edit Form&nbsp;→</h4>
                                <p>I designed a huge form with 100+ fields for users to submit property edits. Included a few features that helped the user quickly find&nbsp;fields.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Articles -->
<section class="pt10 pb10">
    <div class="container--lg">
        <div class="grid-row">
            <div class="grid-column span-7">
                <h2 class="mb2">Articles</h2>
                <p class="mb3">Here are some articles I wrote and illustrated on a site I co-created called <a class="link" target="_blank" href="https://uxtools.co">UX Tools</a>.</p>
            </div>
            <div class="grid-column span-1"></div>
            <div class="grid-column">
                <div>
                    <div class="grid-row">
                        <div class="grid-column span-one-third sm:mt3 mb2">
                            <a target="_blank" href="https://uxtools.co/blog/what-no-one-explains-about-the-design-process/" class="link link--text pointer">
                                <img class="rounded" src="/img/process.svg" alt="Fixing User Personas">
                                <p class="bold mt2">What No One Explains About the Design&nbsp;Process&nbsp;&nbsp;→</p>
                            </a>
                        </div>
                        <div class="grid-column span-one-third sm:mt3 mb2">
                            <a target="_blank" href="https://uxtools.co/blog/fixing-user-personas/" class="link link--text pointer">
                                <img class="rounded" src="/img/fixing-user-personas.svg" alt="Fixing User Personas">
                                <p class="bold mt2">Fixing User&nbsp;Personas&nbsp;&nbsp;→</p>
                            </a>
                        </div>
                        <div class="grid-column span-one-third sm:mt3 mb2">
                            <a target="_blank" href="https://uxtools.co/blog/33-activity-ideas-for-remote-ux-workshops/" class="link link--text pointer">
                                <img class="rounded" src="/img/workshop.png" alt="Fixing User Personas">
                                <p class="bold mt2">33 Activity Ideas for Remote UX&nbsp;Workshops&nbsp;&nbsp;→</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About me -->
<section class="pt10 pb10">
    <div class="container--lg">
        <div class="grid-row">
            <div class="grid-column span-7">
                <h2 class="mb3">About Me</h2>
            </div>
            <div class="grid-column span-1"></div>
            <div class="grid-column">
                <p class="mb2">I love digging into design work that's backed by research, makes a large business impact, and begins and ends with the user. I'm also interested in leading and teaching other&nbsp;designers.</p>
                <p class="mb2">On the side, I enjoy working on projects like <a class="link" href="https://uxtools.co/">UX Tools</a>, where we just launched some <a class="link" href="https://uxtools.co/challenges/" target="_blank">UX Challenges</a>. I created a site called <a class="link" href="https://www.papayatemplates.com/" target="_blank">Papaya</a> last year with several landing page&nbsp;templates.</p>
                <p class="mb0">When I'm not designing, you can find me hanging out with my wife and four kids, reading, and mountain&nbsp;biking.</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="pt8 pb10">
    <div class="container--lg">
        <div class="grid-row grid-row--bottom">
            <div class="grid-column">                
                <div class="mt8">
                    <a href="mailto:desk@jrdnbwmn.com" class="btn btn--default mr5">desk@jrdnbwmn.com</a>
                    <span class="mr5 inline-block sm:block sm:align--center sm:mt3 sm:mr0"><a class="link link--text" href="tel:8643295207">(864) 329-5207</a></span>
                    <span class="sm:block sm:align--center sm:mt2"><a class="link link--text" href="https://drive.google.com/file/d/1gZYD9zrhy4ocupxS_yOYZTCQA7FU_x1A/view?usp=sharing" target="_blank">Résumé</a></span>
                </div>
            </div>
            <div class="grid-column span-one-third align--right sm:align--center">
                <div class="pb2 sm:mt3">
                    <a href="https://twitter.com/jrdnbwmn" target="_blank" class="link mr3"><img class="social-icon" src="/img/twitter.svg" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/jrdnbwmn/" target="_blank" class="link"><img class="social-icon" src="/img/linkedin.svg" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
