---
layout: default
---

<header class="pt10">
    <div class="container--md">
        <nav>
            <div class="grid-row grid-row--center">
                <div class="grid-column">
                    <a class="link" href="/"><img class="logo" src="/img/jordan-bowman-circle.png" alt="Jordan Bowman"></a>
                </div>
                <div class="grid-column align--right">
                    <a href="https://twitter.com/jrdnbwmn" target="_blank" class="link mr3"><img class="social-icon" src="/img/twitter.svg" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/jrdnbwmn/" target="_blank" class="link"><img class="social-icon" src="/img/linkedin.svg" alt="LinkedIn"></a>
                </div>
            </div>
        </nav>
    </div>
</header>

<section class="pt10 pb10">
    <div class="container--md">
        <div class="grid-row">
            <div class="grid-column">
                <p class="h1 bold mb5">Hi, I'm Jordan.</p>
                <p class="h2 mb2">A Senior UX Researcher and Experience Designer with 8+ years constructing digital&nbsp;experiences.</p>
                <p class="h2">I'm passionate about user-first and evidence-based&nbsp;design.</p>
                <div class="mt7">
                    <a href="mailto:desk@jrdnbwmn.com" class="btn btn--default mr3">desk@jrdnbwmn.com</a>
                    <span class="sm:block sm:align--center sm:mt3">text <a class="link link--text" href="tel:8643295207">(864) 329-5207</a></span>
                </div>
            </div>
            <div class="grid-column span-6"></div>
        </div>

    </div>
</section>

<section class="pt10 pb10">
    <div class="container--md">
        <div class="grid-row">
            <div class="grid-column">
                <h3 class="mb2">Work</h3>
                <p>Take a look at some projects I've worked on.</p>
            </div>
            <div class="grid-column span-6"></div>
        </div>

        <a class="block link link--text border--full rounded pt3 pb3 pr4 pl4 mt3" href="/internal-research-app/">
            <div class="grid-row grid-row--center">
                <div class="grid-column align--center">
                    <img src="/img/case-studies/research-app-white.svg" alt="Internal Research App" style="height: 150px">
                </div>
                <div class="grid-column span-three-fourths">
                    <h4 class="mb1">Internal Research App →</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis suae urbis conservatorem Codrum, quis Erechthei filias non maxime laudat? Qua tu etiam inprudens utebare non numquam. </p>
                </div>
            </div>
        </a>
        <div class="border--full rounded mt5" style="height: 200px"></div>
        <div class="border--full rounded mt5" style="height: 200px"></div>
    </div>
</section>

<section class="pt10 pb10">
    <div class="container--md">
        <div class="grid-row">
            <div class="grid-column">
                <h3 class="mb2">Articles</h3>
                <p>I'm the Co-Creator of <a class="link" target="_blank" href="https://uxtools.co">UX Tools</a>, a website about digital design with over 10k email subscribers. Here are some articles I've recently written and illustrated.</p>
            </div>
            <div class="grid-column span-6"></div>
        </div>

        <div>
            <div class="grid-row">
                <div class="grid-column span-one-third mt3 mb2">
                    <a target="_blank" href="https://uxtools.co/blog/what-no-one-explains-about-the-design-process/" class="link link--text pointer">
                        <img class="rounded" src="/img/process.svg" alt="Fixing User Personas">
                        <p class="bold mt2">What No One Explains About the Design&nbsp;Process&nbsp;&nbsp;→</p>
                    </a>
                </div>
                <div class="grid-column span-one-third mt3 mb2">
                    <a target="_blank" href="https://uxtools.co/blog/fixing-user-personas/" class="link link--text pointer">
                        <img class="rounded" src="/img/fixing-user-personas.svg" alt="Fixing User Personas">
                        <p class="bold mt2">Fixing User&nbsp;Personas&nbsp;&nbsp;→</p>
                    </a>
                </div>
                <div class="grid-column span-one-third mt3 mb2">
                    <a target="_blank" href="https://uxtools.co/blog/33-activity-ideas-for-remote-ux-workshops/" class="link link--text pointer">
                        <img class="rounded" src="/img/workshop.png" alt="Fixing User Personas">
                        <p class="bold mt2">33 Activity Ideas for Remote UX&nbsp;Workshops&nbsp;&nbsp;→</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>

<footer class="pt8 pb10">
    <div class="container--md pb5">
        <h3 class="mb2">About Me</h3>

        <div class="grid-row grid-row--bottom">
            <div class="grid-column">
                <p class="mb1">I started designing and building websites as a side project and to build additional skills and feel in love with it.</p>
                <p class="mb1">I'm most interested in ... I also enjoy teaching and writing about design. I do that mostly through <a class="link" href="https://uxtools.co/">UX Tools</a> these days, where we just launched some <a class="link" href="https://uxtools.co/challenges/" target="_blank">UX Challenges</a>.</p>
                <p>I like to do side projects in my free time like Papaya.</p>
                <p class="mb1">When I'm not desiging, you can find me hanging out with my wife and four kids, reading, and mountain&nbsp;biking.</p>
                <p><a href="" class="link">Resume</a></p>
                <div class="mt8">
                    <a href="mailto:desk@jrdnbwmn.com" class="btn btn--default mr3">desk@jrdnbwmn.com</a>
                    <span class="inline-block sm:block sm:align--center sm:mt3">text <a class="link link--text" href="tel:8643295207">(864) 329-5207</a></span>
                </div>
            </div>
            <div class="grid-column span-6 align--right sm:align--center">
                <div class="pb2 sm:mt3">
                    <a href="https://twitter.com/jrdnbwmn" target="_blank" class="link mr3"><img class="social-icon" src="/img/twitter.svg" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/jrdnbwmn/" target="_blank" class="link"><img class="social-icon" src="/img/linkedin.svg" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
        
    </div>
</footer>
