---
layout: default-color
---

<!doctype html>
<html lang="en-us">
    {%- include head.html -%}
    <body class="text-gray-800">
        <div>
            {%- include nav.html -%}
        
            <div class="container mx-auto px-4 py-12 max-w-6xl">
                <div class="pb-5">
                    <a href="/pinboard/">← Back</a>
                </div>
            
                <div>{{ page.image-html }}</div>
            
                <a class="block" href="{{ page.link }}" target="_blank">See original →</a>
                
                <div class="mb-10">
                    {{ content }}
                </div>
                
                <img class="rounded-lg border" src="{{ page.image }}" alt="{{ page.title }}">
            
            </div>
